.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  background-color: #fff;
}
.jumbotron img {
  margin-top: -20px;
  zoom: 30%;
}
.card {
  height: 300px;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.jumbotron-heading {
  font-weight: 300;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
