<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-commerce Example Application</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <br>
            <nav id="top-navigation" class="well well-sm flex flex-row align-center">
                <a href="#" @click="isShowingCart=false"><strong>E-commerce Inc.</strong></a>

                <div class="text-right pull-right cart-info">
                    <span class="stats">{{cart.items.length}} items in cart, totalling ${{cartTotal}}</span>
                    <button @click="isShowingCart=true" class="btn btn-primary">View Cart</button>
                </div>
            </nav>

            <div v-if="!isShowingCart" id="products" class="row list-group">
                <div v-for="product in products" class="item col-xs-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff">
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">{{product.name}}</h4>
                            <p class="group inner list-group-item-text">
                                {{product.description}}
                            </p>
                            <br>

                            <div class="row flex flex-row align-center">
                                <div class="col-xs-4">
                                    <p class="lead">
                                        ${{product.price}}
                                    </p>
                                </div>

                                <div class="col-xs-8 flex flex-row align-center justify-right">
                                    <div :class="{few: product.inStock <10, none: product.inStock==0}" class="number-in-stock">
                                        {{product.inStock}} in stock
                                    </div>
                                    <button @click="addProductToCart(product)" :disabled="product.inStock==0" class="btn btn-success">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h1>Cart</h1>
                <p>Cart is Empty! Cart will Display Here</p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>