<!DOCTYPE html>
<html>
  <head>
    <title>VUE Todo App</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
    <div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Todo Vue</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="page-content">
          <h3>TODO VUE</h3>
          <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-textfield mdl-js-textfield">
              <input
                type="text"
                v-model="input"
                class="input"
                placeholder="type your todo..."
              />
            </div>
            <button
              class="mdl-button mdl-button-mini mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              value="ADD"
              @click="addTodo"
            >
              <i class="material-icons">add</i>
            </button>

            <ul class="mdl-list" v-if="todos.length > 0">
              <li v-for="(todo,i) in todos" class="mdl-list__item">
                <span class="mdl-list__item-primary-action">
                  <label
                    class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                    :for="i"
                  >
                  <input
                    type="checkbox"
                    :checked="todo.checked" :id="i"  @change="check(i)"
                    class="mdl-switch__input"
                  />
                </span>
                <span class="mdl-list__item-primary-content"
                  ><span
                    :class="{checked:todo.checked}"
                    @dblclick="edit"
                    >{{ todo.text }}</span
                  >
                  <span class="edit hide"
                    ><input type="text" v-model="todo.text"/><input
                      type="button"
                      value="ok"
                      @click="toggleEdit"
                  /></span>
                </span>
                <span class="mdl-list__item-secondary-action">
                  <i class="material-icons" @click="delTodo(i)">delete</i>
                </span>
              </li>
            </ul>
            <h3 v-else>No Todo</h3>
          </div>
        </div>
      </main>
      <dialog class="mdl-dialog">
          VUE Powered Todo App. <span class="dialog-close">x</span>
          <ul>
              <li>You can Create Todo</li>
              <li>A todo item can be checked</li>
              <li>A todo item can be removed</li>
              <li>Can be updated (dbl click)</li>
              <li>Todos are fetched from jsonplaceholder limit <select v-model="limit" @change="fetchTodo">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
              </select></li>
              <li>You may reset limit also</li>
          </ul>
          <small>Please suggest me any feature or change to implement.</small>
       </dialog>
    </div>
  </body>
</html>
